           ############# .Xresources ###############
        	#                                     #
       	 	#        pymd's  .Xresources          #
        	#                                     #
            #                                     #
            #        Author: PythonXadds          #
        	#                                     #
        	#                                     #
            #                                     #
        	#        ~Solarized theme~            #
        	############# i3 config ###############

*background: white
*foreground: blue
! blue
*color0:  #507eaf
*color8:  #507eaf
! red
*color1:  #bd000d
*color9:  #bd000d
! green
*color2:  #006607
*color10: #006607
! yellow
*color3:  #ffbb00
*color11: #ffbb00
! blue
*color4:  #004ce6
*color12: #004ce6
! magenta
*color5:  #ad007f
*color13: #ad007f
! cyan
*color6:  #005a61
*color14: #005a61
! white
*color7:  #aaaaaa
*color15: #ffffff
