########################################################################
# Statusbar
########################################################################

style "statusbar" {

bg[NORMAL] = "#fdf6e3"
#fg[NORMAL] = "#507eaf"

#GtkStatusBar::shadow-type = GTK_SHADOW_NONE

}

widget_class "*<GtkStatusbar>*" style "statusbar"

